
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que um usuário autenticado leia e escreva (crie, atualize, exclua)
    // QUALQUER documento ou subcoleção sob seu próprio caminho /users/{userId}.
    // 'read' inclui 'get' e 'list'.
    // 'write' inclui 'create', 'update', e 'delete'.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
